body header {
	padding: 1em;
	color:LightSlateGrey;
	background-color: black;
	text-align: center;
	margin:0 auto;
}
nav {
	height: 50px;
	background-color: black;
	color: LightSlateGrey;
}
ul {
	list-style-type: none;
	margin:0;
	padding: 0;
}
li a {
	width:50%;
	margin: 0;
	padding: 10px 0px;
	float: left;
	display:block;
	color:white;
	text-align: center;
	text-decoration: none;
}
 li a:hover {
	background-color: white;
	color:LightSlateGrey;
}
body img {
	width: 50%;
	margin: 0;
	padding:0;
	float: left;
	display:block;
}
body div img a:hover {
	opacity:0.7;
}
.pinkjumper {
	width:50%;
	margin:0;
	padding:0;
	float:left;
	display:block;
	position:relative;
	top:0;
	left:0;
}
.modawoman1 {
	width:20%;
	position:absolute;
	top:25%;
	left:14%;
}
.modaman1 {
	width:20%;
	position:absolute;
	top:25%;
	right:14%;
}
.womancoatdot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:40%;
left:20%;
animation: animate 2s linear infinite;
}
.womandressdot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:55%;
left:21%;
animation: animate 2s linear infinite;
}
.womanshoedot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:82%;
left:17.5%;
animation: animate 2s linear infinite;
}
.womantopdot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:38%;
left:24%;
animation: animate 2s linear infinite;
}
.womanbagdot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:64%;
left:27%;
animation: animate 2s linear infinite;
}
.womanbottomdot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:55%;
left:24.5%;
animation: animate 2s linear infinite;
}
.mancoatdot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:40%;
right:24.5%;
animation: animate 2s linear infinite;
}
.mantopdot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:40%;
right:30%;
animation: animate 2s linear infinite;
}
.manbottomdot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:70%;
right:29%;
animation: animate 2s linear infinite;
}
.manbagdot{
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:80%;
right:20%;
animation: animate 2s linear infinite;
}
.manshoedot {
height:15px;
width:15px;
background-color: LightSlateGrey;
opacity: 0.5;
border-color: white;
border-style:solid;
border-width: 5px;
border-radius:50%;
display:inline-block;
position:absolute;
top:99%;
right:28%;
animation: animate 2s linear infinite;
}
@keyframes animate {
	0%
	{
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5), 0 0 0 0 rgba(255,255,255,0.5);
	}
	40%
	{
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5), 0 0 0 0 rgba(255,255,255,0.5);
	}
	80%
	{
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5), 0 0 0 30px rgba(255,255,255,0);
	}
	100%
	{
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5), 0 0 0 30px rgba(255,255,255,0);
	}
}
footer {
	background-color: LightSlateGrey;
	color:white;
}